*{
    box-sizing: border-box;
    max-height: 100vh; 
}

#topbar{
    display:flex; 
    width: 100vw; 
    background-color: #202A25; 
    font-family: "Patrick Hand", sans-serif; 
    height: 50px; 
    align-items: center;
}

#topbar img{
    height: 40px; 
    padding: 0 10px 0 10px; 
}

h1{ 
    font-size: 28px; 
    color: #FFF; 
}

h2{
    color: #383838; 
    margin-top: 0; 
}

main{
    background-color: #79E49D; 
    display: flex; 
    height: 100vh; 
    justify-content: space-between;
    font-family: "Patrick Hand", sans-serif; 
}

#cowseal{
    position: absolute;
    left: 30vw;
    top: 20vh; 
    height: 600px; 
    opacity: 60%; 
}

#mainApps{
    display: flex; 
    flex-direction: column; 
    margin-left: 15px; 
    text-align: center; 
    padding: 20px; 
}

#mainApps img, #support img{
    height: 120px; 
    margin-top: 15px; 
    transition: all .25s ease-in-out;
}

#mainApps img:hover, #support img:hover{
    transform: scale(1.2); 
}

#support{
    display: flex; 
    flex-direction: column; 
    margin-right: 15px; 
    padding: 20px; 
    text-align: center; 
}

i{
    font-size: 36px; 
    float: right; 
    color: #FC3A3A; 
}

i:hover{
    color: #383838; 
}

h3{
    font-family: 'Cherry Bomb', sans-serif;
    font-size: 36px; 
    color: #383838; 
}

p{
    font-family: 'Patrick Hand', sans-serif; 
    font-size: 20px; 
    line-height: 1.4em; 
    width: 500px;
    color: #383838; 
}

#welcomeWin, #aboutWin{
    width: 550px; 
    height: 400px; 
    box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
    position: absolute; 
    left: 30%; 
    top: 30%; 
    padding: 20px; 
    background-color: white;
    /* for dragging animation */
    transform: translate(0px, 0px); 
}

#aboutWin{
    left: 20%;
    top: 10%; 
    visibility: hidden; 
}



